/* 
    Created on : May 25, 2014, 7:18:09 AM
    Author     : gregbueno
*/
.navbar-default {
  background-color: #8B99B9;
  background-image: linear-gradient(bottom, #667f80, #8b99b9 25px);
  background-image: -o-linear-gradient(bottom, #667f80, #8b99b9 25px);
  background-image: -moz-linear-gradient(bottom, #667f80, #8b99b9 25px);
  background-image: -webkit-linear-gradient(top, #667f80, #8b99b9 25px);
  background-image: -ms-linear-gradient(bottom, #667f80, #8b99b9 25px);
}
.entry-meta {
  background-color: #EEE;
}
.entry-meta-list {
  margin-left: 5px;
}
